.logo {
    width: 80%;

}

.enlace {
    position: absolute;
    padding-left: 20px;
}

.main-photo--title p {
    font-size: 1.8rem;
}

.main2 h2 {
    margin-top: 35px;
    font-size: 2rem;
    font-weight: 500;
}

#main3-container--inf p {
    padding: 10px 50px;
}

.plans-container .isotipo {
    left: 48%;
}

.ad {
    width: 900px;
    left: calc(50% - 450px);
    border-radius: 20px;
}