* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

:root {
    --pink: #F3A1B7;
    --soft-green: #eaf3e9;
    --green: #b4dbae;
    --hard-green: #838f28;
}

#sfcurp49epwrjx68p9f2d6xn49nc49xh25j {
    display: none;
}
.main-container {
    background: linear-gradient(170.8deg, #201E1C 12.69%, #fffb08 100%);
    width: 100%;
    min-height: 100vh;
    max-height: auto;
}


#particles-js {
	height: 100%; 
	width: 100%;
    position: absolute;
    
}

.header-logo {
    width: 100%;    
    padding: 30px 0 30px 20px;
    height: auto;
    display: flex;
    justify-content: flex-start;
}


.logo {
    width: 50%;
    min-width: 210px;
    max-width: 400px;
    display: inline-block;
}


main {
    width: 100%;
    min-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    opacity: 30%;
}

.main1 {
    width: 100%;
    min-width: 300px;
    height: auto;
    margin: 25px auto 60px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding: 0 20px;
    position: relative;
} 

.main-photo {
    width: 80%;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    border-radius: 70px;
}

.main-photo .photo {
    width:100%;
    max-width: 250px;
    justify-content: center;
    border-radius: 40%;
}

.main-photo--title {
    width: 100%;
    height: auto;
    padding-top: 50px;
    color: var(--pink);
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

.main-photo--title h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.5rem;
    
}

.main-photo--title p {
    margin: 15px 0;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #201E1C;
}

.main-photo--button {
    display: flex;
    justify-content: center;
}

.main-photo--button a {
    margin-top: 35px;
    padding: 10px;
    width: 229px;
    height: 48px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(3, 3, 1, 0.5);
    border: none;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;   
    transition: .5s;
}

.main-photo--button a:hover {
    transition: transform .3s;
    transform: translateY(-5px);
    color: white;
    background-color: #1C1C1E;
}

.main-photo--button a:active {
    transition: transform .2s;
    transform: translateY(-3px);
}

.main-photo--button img {
    margin-left: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    cursor: pointer;    
}

.main2 {
    width: 100%;
    height: auto;
    background: #1C1C1E;
    padding: 60px 0;
}

.main2 h3 {
    color: gray;
    text-align: start;
    padding-left: 10%;
    margin-bottom: 20px;
    font-size: 3rem;
}

.container-video {
    width: 100%;
    display: grid;
    place-items: center;
}

.main2 video {
    width:80%;
    min-width: 300px;
    max-width: 900px;
    height: auto;
    border-radius: 10px;
}

.main2 h2 {
    margin-top: 20px;
    width: 80%;
    color: var(--soft-green);
    font-weight: 300;
    line-height: 3rem;
}

.main3 {
    width: 100%;
    height: auto;
    padding: 60px 0;
    background: white;
    background: #f5e6d9;
}


.main3 h3 {
    color: #5a5757;
    text-align: start;
    padding-left: 10%;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: bold;
}

.main3 div {
    display: grid;
    place-items: center;

}

.main3-container {
    width: 80%;
    min-width: 300px;
    max-width: 900px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    border: none;
    background: white;
    box-shadow: 0px 4px 8px rgba(49, 40, 17, 0.16);
}

.main3-container--img {
    width: 50%;
    margin-left: 15%;
}

#main3-container--inf {
    padding: 15px
}

#main3-container--inf h2 {
    color: var(--pink);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2rem;

}

#main3-container--inf p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--hard-green);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2rem;
}

.plans-container {
    padding-top: 60px;
    position: relative;
}

.plans-container h3 {
    color: #5a5757;
    padding-left: 10% ;
    text-align: start;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: bold;
    display: none;
}

.plans-container div {
    display: grip;
    place-items: center;
}

.plans-container .isotipo {
    width: 50px;
    position: absolute;
    top: -25px;
    left: calc(50% - 25px);
}

.plans-container h2 {
    color: var(--hard-green);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.5rem;
}

.plans-container p {
    width: 86%;
    margin: 15px 7%;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #757575;
}

.plans-container ul li {
    text-align: center;
    display: inline-block;
    padding: 0 20px;
}

.network-section {
    width: 100%;
    margin: 30px auto 50px;
}

.wts {
    padding-top: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.face {
    padding-bottom: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.inst {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


footer {
    background: #1C1C1E;
    padding: 30px;
    width: 100%;
    height: auto;
    display: grid;
    font-size: 14px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #8B8B8B;
}

footer a:hover {
    color: white;
}

.ad {
    width: 100%;
    height: 630px;
    position: fixed;
    top: calc(50% - 315px);
    color: #866359;
    background-color: white;
    padding: 20px;
}
.ad .fa-arrow-right-from-bracket {
    transform: rotate(180deg);
    font-size: 2rem;
    cursor: pointer;
}

.ad .fa-arrow-right-from-bracket:hover {
    color: var(--hard-green);

}

.ad-info {
    text-align: center;
}
.ad h2 {
    font-size: 3rem;
    font-weight: bold;
}

.ad img {
    margin: 15px 0;
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
}

.ad p, .ad a {
    font-size: 2rem;
    margin-bottom: 20px;
}

.ad a {
    text-decoration: none;
    color: black;
    background-color: #ff9900;
    padding: 5px 15px;
    border-radius: 5px;
}

.inactive {
    display: none;
}


@media screen and (min-width: 480px){
    .ad img {
        max-width: 350px;
    }
    
}

