.logo {
    width: 70%;

}

.main-photo .photo {
    max-width: 300px;
}

#main3-container--inf p {
    padding: 10px 50px;
}

.ad img {
    max-width: 400px;
}

.plans-container h3 {
    display: block;
}